<html>
<link href="css/styles.css" rel="stylesheet"><form action = "/phonebook" method = "post">
<body bgcolor="#E6E6FA">

<h1 align="center">Phonebook</h1><hr class="style18">	

First Name <input type = "text" name = "first_name">
Last Name <input type = "text" name = "last_name"> 
Street Address <input type = "text" name = "street_address"> 
<p>
City <input type = "text" name = "city"> 
State <input type = "text" name = "state"> 
Zipcode <input type = "text" name = "zip"> 
</p>
Cell Phone <input type = "text" name = "cell_phone"> 
Home Phone <input type = "text" name = "home_phone"> 
Work Phone <input type = "text" name = "work_phone"> 
<p>
<input type = "submit" value = "submit">
</p>
</form>
<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Street Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zipcode</th>
			<th>Cell Phone</th>
			<th>Home Phone</th>
			<th>Work Phone</th>
		</tr>
	</thead>
	<tbody>
		<%phonebook.each do |contacts| %>
		<tr>
			<td><%=contacts["first_name"]%></td >
			<td><%=contacts["last_name"]%></td>
			<td><%=contacts["street_address"]%></td>
			<td><%=contacts["city"]%></td>
			<td><%=contacts["state"]%></td>
			<td><%=contacts["zip"]%></td>
			<td><%=contacts["cell_phone"]%></td>
			<td><%=contacts["home_phone"]%></td>
			<td><%=contacts["work_phone"]%></td>
		<%end%>
	</tbody>
</table>
</body>
</html>